.jumbotron {
   background-image: url("The_birth_of_The_Police.png");
   background-position-y: 16%;
}

.jumbotron .h1, .jumbotron h1 {
   color: white;
}

.jumbotron p {
 color: white;  
}

* {
 font-family: 'Open Sans', sans-serif;  
}

.Discord {
 display:block;
   background-image: url("discord.png");
}
