.jumbotron {
   background-image: url("The_birth_of_The_Police.png");
   background-position-y: 60%;
   background-size:Cover;
}

.jumbotron .h1, .jumbotron h1 {
   color: transparent;
}

.jumbotron p {
 color: transparent;  
}

* {
 font-family: 'Open Sans', sans-serif;  
}

.Discord {
 display:block;
   background-image: url("discord.png");
   width:256px;
   height:256px;
   color: transparent
}

body {
	background-color: #202020;
	color: #f4f4f4;
}

.Discord:hover {
	color: transparent;
	text-decoration:none
}
